<% layout("/layouts/boilerPlate") %>
    <body>
        <span class="badge text-bg-success"><%= message %></span>
        <div class="allLists">
            <% for (list of lists) {%>
                <a class="list" href="listings/<%= list._id %>">
                    <div class="card" style="width: 100%;">
                            <img src="<%= list.image.url %>" class="card-img-top" alt="image">
                            <div class="card-img-overlay">
                            </div>
                        <div class="card-body">
                            <p class="card-text"><strong>
                                    <%= list.title %>
                                </strong>
                                <br>
                                &#8377;<%= list.price.toLocaleString("en-IN") %>
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
    </body>